* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

main, aside {
  h1, h2, h3, p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}

.container {
  display: grid;
  min-height: 100vh;
  max-width: 1200px;
  margin-inline: auto; 
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-areas: 
    "header-area"
    "nav-area"
    "main-area"
    "sidebar-area"
    "footer-area";
}

header {
  grid-area: header-area;
  background: #d3891b;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  background: #fff;
  color: #000;
  width: 60px;
  height: 40px;
  border-radius: 4px;
  font-weight: 700;
  display: grid;
  place-items: center;
}

.logo::before {
  content: 'Logo';
}

nav {
  grid-area: nav-area;
  background: #3e3ec4;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

main {
  grid-area: main-area;
  padding: 20px;
}

aside {
  grid-area: sidebar-area;
  background: #b0e6b0;
  padding: 20px;
}

aside > div {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center; 
}

aside > div span {
  font-size: 2em;
}

footer {
  grid-area: footer-area;
  background: #25a725;
  color: #fff;
  text-align: center;
  padding: 20px;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
      "header-area header-area"
      "nav-area nav-area"
      "main-area sidebar-area"
      "footer-area footer-area";
  }

  nav {
    text-align: left;
  }
  aside > div {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  aside > div span {
    font-size: 4em;
  }
}